[Unit]
Description=Caddy Webserver
Documentation=https://caddyserver.com/
After=network.target

[Service]
Restart=5
StartLimitInterval=86400
StartLimitBurst=5
TimeoutStartSec=300s
User={{caddy_user}}
Group={{caddy_group}}
Environment=HOME=/opt/caddy
WorkingDirectory=/opt/caddy
LimitNOFILE=32786
PIDFile=/run/caddy.pid
ExecStart=/etc/caddy/caddy -agree=true -email=ssl@{{ server_name }} -pidfile=/run/caddy.pid -conf=/opt/caddy/Caddyfile -log=/var/log/caddy/server.log
ExecStartPre=/bin/chown {{caddy_user}}:{{caddy_group}} /var/log/caddy -R
ExecStartPre=/bin/chown {{caddy_user}}:{{caddy_group}} /opt/caddy -R
ExecStartPre=/sbin/setcap CAP_NET_BIND_SERVICE=+eip /etc/caddy/caddy

;RestartSec=30
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
